html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #A8444D;
  font-family: 'Chivo', sans-serif;
}

a {
  color: #4183D7;
  cursor: pointer;
}

.header {
  padding: 30px 30px 5px;
  text-align: center;
}

.logo {
  display: inline-block;
  height: 110px;
}

.addButton {
  display: inline-block;
  position: absolute;
  top: 80px;
  right: 40px;
  height: 55px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.addButton:hover {
  opacity: 0.85;
}

.addFolio {
  position: absolute;
  right: 40px;
  top: 150px;
  display: inline-block;
  background-color: white;
  -webkit-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.44);
  box-shadow: 2px 3px 12px 0px rgba(0,0,0,0.44);
  z-index: 100;
  border-radius: 3px;
  transition: all 0.4s ease;
  opacity: 0;
}

.addFolio.is-shown {
  opacity: 1;
}

.container {
  margin: 0;
  padding: 0 30px 30px;
  width: 100%;
  height: auto;
  text-align: center;
  box-sizing: border-box;
}

.card {
  display: inline-block;
  background-color: #fdfdfd;
  width: 390px;
  height: 230px;
  transition: all 0.4s ease;
  overflow: hidden;
  margin: 20px;
  padding: 23px 20px;
  border-top: 12px solid #FFEB3B;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 34px -4px rgba(99,99,99,1);
  -moz-box-shadow: 0px 2px 34px -4px rgba(99,99,99,1);
  box-shadow: 0px 2px 34px -4px rgba(99,99,99,1);
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.headshot {
  width: 250px;
  float: left;
  transform: translate(-45px, -32px);
}

.info {
  display: inline-block;
  width: 270px;
  padding-left: 45px;
  vertical-align: top;
}

.name {
  display: inline-block;
  font-family: 'europa', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  border-bottom: 3px solid black;
  padding-bottom: 2px;
}

.title {
  font-size: 16px;
  font-style: italic;
  margin-top: 8px;
}

.graphic {
  display: inline-block;
	width: 30px;
	height: 30px;
  background-color: #FFEB3B;
  vertical-align: top;
}

.interests {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 16px;
}

.contact {
  font-size: 14.5px;
  word-wrap: break-word;
  line-height: 1;
  margin-top: 6px;
  padding-left: 22px;
  background-repeat: no-repeat;
}

.email {
  margin-top: 15px;
  background-image: url('/media/email-ico.png');
  background-size: auto 15px;
}

.portfolio {
  display: block;
  background-image: url('/media/link-ico.png');
  background-size: auto 15px;
}

.addFolioForm-upper {
  padding: 35px 30px;
}

#addFolioForm {
  text-align: left;
}

.addFolioForm-upper > div {
  margin-bottom: 30px;
}

.addFolioForm-upper > div:last-child {
  margin-bottom: 0;
}

#addFolioForm label {
  display: inline-block;
  width: 75px;
  font-weight: 700;
}

.label {
  font-weight: 700;
}

.fieldBox {
  display: inline-block;
  width: 220px;
}

.checkboxes {
  width: 300px;
}

.checkboxes label {
  font-weight: 400 !important;
  font-size: 14px;
  padding: 5px 0;
}

#submitButton {
  width: 100% !important;
  padding: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  font-family: 'Chivo';
  transition: all 0.4s ease;
}

#submitButton:hover {
  cursor: pointer;
  opacity: 0.9;
}
